#title
{
  background-color:#BCEAD5;
  color:#fff;
  text-align:left;
  padding: 0 10px;
  
}

h1,h2,h3,h5,h6
{
  font-family:"Montserrat";
  font-weight: bolder;
}

h4
{
    font-size:3.5rem;
}

p
{
  color:#8f8f8f;
  font-family:"Montserrat";
  padding: 0% 10% 3% 10%;
  text-align: center;
}

.about{
font-size: 1.5rem;
text-align: left;
color: #0E5E6F;
font-weight: bold;
}


/*  Headings */
.big-headings
{
  font-family:"Montserrat";
  font-weight: bolder;
  font-size:2rem;
  line-height:1.5;
  text-align: left;
  padding-top: 7%;
}
.container-fluid
{
  padding:4% 10%;
}

.header_section_top
{
    width: 100%;
    float: center;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 8% 100%);
    height: auto;
    padding: 40px 0px;
}

body
{
  font-family:"Montserrat";
  text-align: center;
}



.navbar
{
  padding:0 0 4.5rem;
}

.navbar-brand
{
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight:bold;
  position: relative;
  bottom: 120px;
}
.navbar-nav
{
    position: relative;
    bottom:120px
}
.nav-item
{
  padding:0 15px;
  color:#DEF5E5;
}

.nav-link
{
  font-size:1.2rem;
  font-family:"Montserrat-light";
}

#title .container-fluid
{
  padding:3% 15% 7%;
  text-align:left;
}

/*   Sections */
.colored-Section
{
  background-color:#8EC3B0;
  color:#fff;
}

.white-colored
{
  background-color: #fff
}


.download-button
{
  margin:5% 3% 5% 0;
}


.title-image
{
  width:20%;
  transform:rotate(0deg);
  position: absolute;
  right:7%;
}



#features
{
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box
{
  padding:5%;
}

.feature-title
{
  font-size: 1.5rem;
}

.icon
{
  color:#8EC3B0;
  margin-bottom: 1rem;
}

.icon:hover
{
  color:#3A8891;
}

/* Testimonials-Section */

#testimonials
{
  background-color:#8EC3B0;
  color:#ffffff;
  text-align: center;
  padding: 7% 15%;
}

.testimonial-text
{
  font-size:3rem;
  line-height: 1.5;
  text-align: center;
}


.section-heading
{
  font-size:3rem;
  line-height: 1.5;
}
#press{
  background-color: #ffefd6;
  padding: 7% 15%;
}

@media(max-width:1028px)
{
  #Title
  {
    text-align: center;
  }
}

.social-icon
{
  margin:20px 10px;
}